<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition for a Pokémon MMORPG</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="shortcut icon" href="/images/pokeball-field.jpg" />

    </head>
    <body>
        {{{body}}}
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/canvas.js"></script>
    </body>
</html>
